<!-- snippets/component__skeleton-stack.liquid -->
{% comment %} 
  This is a placeholder for upsell items while they are loading. It is used in the product section as a placeholder when loading in product upsells.

  Globals:
  - product_card_enable_tagline: {boolean} Display a short description.

  Usage:
    {% render 'component__skeleton-stack' %}
  
  Recommendations:
  - This snippet is best used in the product section as a placeholder when loading in product upsells.
{% endcomment %}

<div 
  class="
    group border--radius upsell relative flex justify-center flex-none overflow-hidden whitespace-normal w-full
    {{ settings.product_card_color_border }}
  ">
  <div 
    class="
      flex items-start w-full
      {{ settings.product_card_color_scheme }}
    ">

    {% comment %} Image {% endcomment %}
    <div 
      class="w-[25%] h-full flex-none overflow-hidden flex justify-center">
      <div 
        class="object-cover flex items-center aspect-[1/1] h-full w-full color__bg-shade-2">
      </div>
    </div>

    {% comment %} Content {% endcomment %}
    <div 
      class="flex items-start justify-between flex-grow w-full h-full gap-4 p-4 text-left">
      <div class="block w-3/5 color__bg-shade-2 border--radius height--base"></div>
      <div class="block w-3/5 color__bg-shade-2 border--radius height--base"></div>
    </div>

  </div>
</div>