<!-- snippets/component__alert.liquid -->
{% comment %} 
  This component creates a small overlay to display important content. It is ideal for displaying alerts or notifications.

  Accepts: 
  - alert_id: {string} Unique id of alert component.
  - position: {string} Position of the alert. Accepts 'top-left', 'top-right', 'bottom-left', 'bottom-right'.
  - closeable: {boolean} If true, the alert can be closed by the user.
  - content: {Object} Liquid object of content to be displayed in the alert.

  Globals:
  - enable_animations: {boolean} Indicates if animations should be enabled.

  Usage:
    {% render 'component__alert',
      alert_id: 'cart_alert',
      position: 'top-right',
      closeable: true,
      content: alert_content
    %}

  Recommendations:
  - Use this snippet to display important notifications or alerts to the user.
{% endcomment %}

<div 
  class="color__bg-body color__text border--radius md:w-96 border--width color__border-divider-1 fixed bottom-0 left-0 right-0 z-50 w-auto overflow-hidden shadow-md
  {% if position == 'top-left' %}
    md:left-5 md:top-5 md:right-auto md:bottom-auto
  {% endif %}
  {% if position == 'top-right' %}
    md:right-5 md:top-5 md:left-auto md:bottom-auto
  {% endif %}
  {% if position == 'bottom-left' %}
    md:left-5 md:bottom-5 md:right-auto md:top-auto
  {% endif %}
  {% if position == 'bottom-right' %}
    md:right-5 md:bottom-5 md:left-auto md:top-auto
  {% endif %}" 
  {% if closeable %}
    @click.outside="{{ alert_id }} = false"
    @keyup.escape.window="{{ alert_id }} = false"
  {% endif %}
  x-show="{{ alert_id }}"
  {% if settings.enable_animations %}
    x-transition:enter="animation-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="animation-300"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  {% endif %}
  x-cloak>
  <div 
    class="relative p-4 overflow-hidden">
    {{ content }}
  </div>
</div>