<!-- snippets/template__mini-cart-item.liquid -->
{% comment %} 
  Cart item

  Usage:
    {% render 'template__mini-cart-item' %}
  
  Recommendations:
  - Must be used within a <template> tag with AlpineJS enabled
{% endcomment %}

<div 
  class="border--t-width flex w-full items-stretch justify-between focus-within:border--focus
  {{ section.settings.main_color_scheme_first }}
  {{ section.settings.main_color_border }}">

  {% comment %} Image {% endcomment %}
  <div 
    class="w-[20%] flex-none overflow-hidden flex items-start justify-center p-4 !pr-0">
    <a 
      class="
        flex items-start w-full border--width
        {{ section.settings.color_border }}
      "
      :href="`${ item.url }`">
      <img 
        class="object-cover w-full h-full color__bg-shade-2 aspect-1"
        {% if settings.enable_animations %}
          :class="{ 
            'opacity-50' : cart_loading }" 
        {% endif %}
        width="200"
        loading="lazy"
        :src="`${ item.image }&width=200`" 
        :alt="`${ item.product_title }`"/>
    </a>
  </div>

  {% comment %} Content {% endcomment %}
  <div 
    class="flex flex-col justify-between flex-grow p-4 animation-500"
    {% if settings.enable_animations %}
      :class="{ 
        'opacity-50' : cart_loading }"
    {% endif %}>

    {% comment %} Details and price {% endcomment %}
    <div 
      class="flex items-start justify-between gap-4"
      x-data="{ properties_drop: false }">

      {% comment %} Details {% endcomment %}
      <div class="w-2/3">

        {% comment %} Title {% endcomment %}
        <a 
          class="flex mb-2 no-underline hover:no-underline"
          tabindex="-1"
          :href="item.url"
          x-text="item.product_title">
        </a>

      </div>
      
      {% comment %} Price {% endcomment %}
      <div 
        class="flex flex-col items-end flex-none w-1/3">

        {% comment %} Price {% endcomment %}
        <div
          class="flex flex-col items-end">
          <span 
            x-html="Shopify.formatMoney(item.line_price)">
          </span>
          <span
            x-show="item.total_discount > 0"
            x-cloak>
            <s
              class="opacity-50"
              x-html="Shopify.formatMoney(item.original_line_price)">
            </s>
          </span>
        </div>

        {% comment %} Unit price {% endcomment %}
        <div 
          class="opacity-75 type--smaller"  
          x-show="item.unit_price_measurement">
          <span x-html="Shopify.formatMoney(item.unit_price)"></span>
          <span>/</span>
          <span x-text="item.unit_price_measurement ? item.unit_price_measurement.reference_value : ''"></span>
          <span x-text="item.unit_price_measurement ? item.unit_price_measurement.reference_unit : ''"></span>
        </div>

        {% comment %} Additonal info {% endcomment %}
        <div 
          class="flex flex-col items-end mt-1">

          {% comment %} Variant title {% endcomment %}
          <p 
            class="flex mb-1 opacity-75 type--smaller" 
            x-text="item.variant_title"
            x-show="item.variant_title">
          </p>

          {% comment %} Item SKU {% endcomment %}
          {% if section.settings.main_enable_cart_sku %}
            <p 
              class="flex mb-1 opacity-75 type--smaller" 
              x-text="item.sku"
              x-show="item.sku">
            </p>
          {% endif %}

          {% comment %} Selling plan {% endcomment %}
          <p 
            class="flex mb-1 opacity-75 type--smaller"  
            x-text="item.selling_plan_allocation ? item.selling_plan_allocation.selling_plan.name : ''"
            x-show="item.selling_plan_allocation">
          </p>
        </div>

      </div>

    </div>

  </div>
  
</div>