<!-- snippets/theme__quick-overlays.liquid -->
{% comment %} 
  This file contains the HTML structure for quick add and quick edit overlays used in the theme.

  Usage:
    {% render 'theme__quick-overlays' %}

  Recommendations:
  - Use this snippet to include quick add and quick edit overlays in your theme.
{% endcomment %}

{% comment %} Quick add overlay {% endcomment %}
<div 
  id="js-quickAdd">
</div>

  {% comment %} Quick edit overlay {% endcomment %}
<div 
  id="js-quickEdit">
</div>