<!-- snippets/theme__error-overlay.liquid -->
{% comment %} 
  overlay overlay to display site wide error messages.

  Usage:
    {% render 'theme__error-overlay' %}
  
  Recommendations:
  - When an error message is displayed this overlay will be shown.
{% endcomment %}

{% capture alert_content %}
  <div class="flex flex-wrap items-center justify-between mb-4">
    <p class="flex items-center">
      {{ 'labels.error' | t }}
    </p>
    <button class="btn
      {{ settings.close_button_color }}"
      title="{{ 'actions.close' | t }}"
      @click="error_alert = false">
      {% if settings.close_button_content contains 'icon' %}
        {% render 'component__icon', icon: 'x', size: '20' %} 
      {% endif %}
      {% if settings.close_button_content contains 'text' %}
        <span 
          {% if settings.close_button_content contains 'icon' %}class="ml-1"{% endif %}>
          {{ 'actions.close' | t }}
        </span>
      {% endif %}
    </button>
  </div>
  <div>
    <p class="type--small" x-text="error_message"></p>
  </div>
{% endcapture %}
{% render 'component__alert', 
  alert_id: 'error_alert', 
  position: 'top-right',
  closeable: true,
  content: alert_content 
%}