
/*================ Font Face ================*/
@font-face {font-family: 'FONTSPRING DEMO - Integral CF';src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFBoldRegular.eot');src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFBoldRegular.eot?#iefix') format('embedded-opentype'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFBoldRegular.woff2') format('woff2'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFBoldRegular.woff') format('woff'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFBoldRegular.ttf') format('truetype'),url('FONTSPRINGDEMO-IntegralCFBoldRegular.svg#FONTSPRINGDEMO-IntegralCFBoldRegular') format('svg');font-weight: bold;font-style: normal;font-display: swap;}
@font-face {font-family: 'FONTSPRING DEMO - Integral CF';src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFRegular.eot');src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFRegular.eot?#iefix') format('embedded-opentype'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFRegular.woff2') format('woff2'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFRegular.woff') format('woff'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/FONTSPRINGDEMO-IntegralCFRegular.ttf') format('truetype'),url('FONTSPRINGDEMO-IntegralCFRegular.svg#FONTSPRINGDEMO-IntegralCFRegular') format('svg');font-weight: normal;font-style: normal;font-display: swap;}
@font-face {font-family: 'Poppins';src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Bold.eot');src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Bold.eot?#iefix') format('embedded-opentype'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Bold.woff2') format('woff2'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Bold.woff') format('woff'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Bold.ttf') format('truetype'),url('Poppins-Bold.svg#Poppins-Bold') format('svg');font-weight: bold;font-style: normal;font-display: swap;}
@font-face {font-family: 'Poppins';src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Medium.eot');src: url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Medium.eot?#iefix') format('embedded-opentype'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Medium.woff2') format('woff2'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Medium.woff') format('woff'),url('https://cdn.shopify.com/s/files/1/0893/5224/1442/files/Poppins-Medium.ttf') format('truetype'),url('Poppins-Medium.svg#Poppins-Medium') format('svg');font-weight: 500;font-style: normal;font-display: swap;}

.custom-content-listing a:hover{color:#00f17c}


body .mp-instagram-feed .Mageplaza-GridView__ShowMoreButton button {
    cursor: pointer;
    text-align: center;
    text-decoration-line: none !important;
    background-color: var(--color__background-primary);
    border-color: var(--color__border-primary);
    color: var(--color__foreground-primary);
    padding: 14px 30px !important;
    height: auto;
    font-size: 16px;
    text-transform: uppercase;
}

.password .space-y-2.mb-4 p {
    color: #FFF;
}
.custom-content-listing p {
    margin-bottom: 15px;
}

form#contact_form p {
    color: #FFFF;
}
form#contact_form .space-y-2 p {
    color: #FFF;
}

.custom-content-listing h5 {
    margin: 35px 0 15px;
    font-size: 23px;
}

div[id*="_modify_banner_QmBBGP"] h1.color__light i {
    font-style: italic;
    margin-right: 15px;
}


.color__bg-tertiary.color__tertiary span.type--smaller p {
    color: #FFF !important;
}

section[id*="_text_highlight_6rjEqz"] .type--big span {
    font-size: 29px;
}

section[id*="_text_highlight_6rjEqz"] .type--big {
    line-height: 15px;
}


.Mageplaza-GridView__ShowMoreButton button {
    background-color: var(--color__background-primary) !important;
    border-color: var(--color__border-primary) !important;
    color: var(--color__foreground-primary) !important;
    border-radius: 50px !important;
	padding-left: 20px !important;
    padding-right: 20px !important;
}




/*================ General ================*/
html{padding-block-end:0 !important;}
.font-poppins{font-family: 'Poppins' !important;}
/* .btn:not(.btn--smaller,.btn--small){font-family:var(--type__font-header-family);padding-top: 0.45rem;padding-bottom: 0.7rem;} */
.btn{font-family:var(--type__font-header-family);padding-top: 13.5px;padding-bottom: 17.5px;line-height:1;}
.btn--small{padding-top: 11px;padding-bottom: 15px;}
.btn--smaller{padding-top: 5px;padding-bottom: 7px;}
.btn:not([title="Close"]) *{font-family:var(--type__font-header-family);font-weight:var(--type__font-nav-weight);}
.shopify-payment-button__button.shopify-payment-button__button--unbranded {height:auto;line-height: 1 !important;letter-spacing: normal !important;padding-block:15.5px !important;}
.max-w-prose {max-width: 85ch;}
.head_color__light .section-header .max-w-prose *{color:#fff;}
.color__bg-overlay-3 {background-color: #5E7576;}
.sections-scroll-up .btn-icon{width: 55px;height: 55px;padding:0;margin-block-end:80px;}
.sections-scroll-up .btn--plain{background:#9D9D9D;}
.sections-scroll-up .btn--plain *{color:#fff;}
.sections-scroll-up .btn--plain:hover{background:#00F17C;}
.sections-scroll-up .btn--plain:hover *{color:#fff;}
body.overflow-hidden #smile-ui-container, body.overflow-hidden #smile-ui-lite-container{z-index:1 !important;}

/*================ Homepage ================*/
.section-modify-banner{position:relative;}
.playButton{width:100px;height:100px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);cursor:pointer;z-index:31;}
.playButton span{width:100%;height:100%;background:#fff;border-radius:100%;display: flex;align-items: center;justify-content: center;position:relative;z-index:2;}
.playButton:after{content:'';width:80%;height:80%;border-radius:100%;background:#fff;animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;animation-delay: 0.5s;position:absolute;top:10%;left:10%;z-index:1;}
.section-modify-banner .videoBtn{opacity:0;visibility:hidden;}
.video-active .banner-img, .video-active .playButton{opacity:0;visibility:hidden;}

.section-text-highlight .type--big, .section-text-highlight .type--big *, .section-text-highlight .type--big::placeholder{font-size:var(--type__font-heading-1);line-height:1;}

.section-content-grid .componet_gradient{height:46%;}

.section-collection-grid .type--base{font-weight:700;}
.section-collection-grid .type__heading.type__heading-3{font-family:var(--type__font-body-family);font-size:var(--type__font-base);text-transform:none;}

.section-slideshow .max-w-prose {max-width: 51.3ch;margin-block-start: 5ch;}

.section-blog-post .type__body{font-weight:700;}

.section-newsletter .input-wrap{max-width:66ch;}
.section-newsletter .input-wrap .btn {padding-top: 11.5px;padding-bottom: 15.5px;}
.section-newsletter .h-captcha{display:none;}

.section-our-partners .section-header .type__heading-1{font-size:clamp(var(--type__font-600), 4vw + 0.5rem, var(--type__font-900));}
.section-our-partners .type__heading.type__heading-3{font-family:var(--type__font-body-family);font-size:var(--type__font-base);font-weight:700;text-transform:none;line-height:1.625;}
.section-our-partners .color__bg-transparent{border-bottom-left-radius:var(--sizes__border-element-radius);border-bottom-right-radius:var(--sizes__border-element-radius);}
.section-our-partners .js-picture{background:#fff;}


/*================ Footer ================*/
.footer-contact {width: 100%;max-width: 350px;}
.footer-map{width: 100%;max-width:500px;}
.section-footer .type__heading{font-size:var(--type__font-base);line-height: 1.5;margin-block-end: 20px;}
.contact-address, .contact-phone a, .contact-email a{display:flex;}
.contact-info+.contact-info{margin-block-start:10px;}
.contact-info .contact-icon{min-width:16px;margin-inline-end:20px;}
.contact-address .contact-icon svg{margin-block-start:6px;}
.contact-phone .contact-icon svg{margin-block-start:6px;}
.contact-email .contact-icon svg{margin-block-start:9px;}
.contact-info a{text-decoration:none;}
.contact-info a:hover{color:#00F17C;text-decoration:underline;}
.contact-info a:hover *{color:#00F17C;}
.footer-menu a:hover{color:#00F17C;}

#product-add .btn, #product-add .btn *, .dynamic_checkout .btn, .dynamic_checkout .btn *{font-family: 'Poppins';font-weight:500;}
#product-add .btn, .dynamic_checkout .btn{padding-top:10.5px;padding-bottom:10.5px;}
.sections-main-cart .btn{padding-top:17px;padding-bottom:17px;}

.shopify-email-marketing-confirmation__container{padding-block:80px;}


/* 27-8-2024
===================*/

body #smile-ui-lite-container {z-index: 10 !important;}
.collection .btn--small span.inline-flex.align-middle {top: 1px;position: relative;}
.shopify-payment-button__button.shopify-payment-button__button--unbranded { text-transform: uppercase; }
body.product .absolute .window--wide button {width: 40px;height: 40px;padding: 0;position: relative;right: -5px;}
body.overflow-hidden div[id*=_theme_fixed-menu] nav.fixed {z-index: 10;}
.sections-main-cart .btn { background: transparent !important;border: 0 !important;outline:none;padding-top: 0;padding-bottom: 0; }
/* body.password div#smile-ui-lite-container, body.password div#smile-ui-lite-launcher-frame-container {display: none;} */
body.password div#smile-ui-lite-container {display: none;}

/*29-08-2024*/
.section-slideshow .whitespace-nowrap.hidescrollbar .window--wide .max-w-prose { max-width: 100%; }
.section-slideshow .whitespace-nowrap.hidescrollbar .window--wide .max-w-prose .space-y-4 { width: 70%; }
.sections-banner section.group .window--wide .gap-4.max-w-prose { max-width: 100% !important; padding-bottom: 40px !important; }
#shopify-section-template--23303949713698__image_text_tzm9bx .window--wide .grow.md\:sticky .grid h3.type__heading.type__heading-3 { font-size: var(--type__font-heading-2) !important; color: #000000 !important; margin-bottom: 10px; }
#shopify-section-template--23303949713698__image_text_tzm9bx .window--wide .grow.md\:sticky .grid .space-y-2 p { color: #222222 !important; }
#shopify-section-template--23303949713698__image_text_tzm9bx .window--wide .flex.flex-row.items-start { padding: 0 30px; }
.color__border-divider-1 .section-full h3.type__heading.type__heading-3 { font-size: var(--type__font-heading-1) !important; margin-bottom: 20px; }
.page-about-page .color__border-divider-1 .section-full .whitespace-normal { padding: 30px 30px 40px 200px !important; }
.color__border-divider-1 .section-full .color__tertiary h3.type__heading.type__heading-3 { color: var(--color__text-dark) !important; }
.hidescrollbar .whitespace-normal h3.type__heading.type__heading-3,.color__border-divider-1 .window--wide .items-end .type__heading-1,.page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3 span { font-size: clamp(var(--type__font-600), 4vw + .5rem, var(--type__font-900)); margin-bottom: 20px; }
.page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3 span { color: #55CDA1 !important; }
.hidescrollbar .whitespace-normal h3.type__heading.type__heading-3 + .space-y-2 { width: 75%; }
.page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3 + .space-y-2 { width: 65%; }
.page-sustainability .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3+.space-y-2 { width: 100%; }
.group .hidescrollbar .whitespace-normal { padding: 30px 40px !important; }
div[id*="_content_slider_GDqa4j"] .w-full.group .hidescrollbar { padding-left: 205px !important; gap: 40px !important; }
.w-full.group .hidescrollbar .flex-none { opacity: 1 !important; }
.color__border-divider-1 .section-full .items-start.text-left .items-start { padding: 60px !important; }
.color__border-divider-1 .section-full .color__outline-divider-1.items-start.text-left { min-height: 618px !important; }
.color__border-divider-1 .section-full h3.type__heading.type__heading-3 + .space-y-2 { width: 90%; }
.color__border-divider-1 .section-full .color__tertiary .space-y-2 p { color: var(--color__text-dark) !important; }
.color__border-divider-1 .window--wide .color__text h3.type--base { margin-bottom: 10px; }
div[id*="_marquee_NUBniy"] .color__border-divider-1 .whitespace-nowrap .type__heading-1,div[id*="_marquee_dHgxkD"] .color__border-divider-1 .whitespace-nowrap .type__heading-1 { position: relative; padding-right: 80px; }
div[id*="_marquee_NUBniy"] .color__border-divider-1 .whitespace-nowrap .type__heading-1:before,div[id*="_marquee_dHgxkD"] .color__border-divider-1 .whitespace-nowrap .type__heading-1:before { content: ""; height: 20px; width: 20px; background: #262626; border-radius: 50%; position: absolute; right: 0; top: 60%; transform: translateY(-50%); }
.color__border-divider-1 .window--wide.items-end .max-w-prose { padding: 40px 60px 40px 60px; max-width: 90ch; }
.page-about-page .color__border-divider-1 .window--wide.items-end .max-w-prose { padding: 40px 0px 40px 180px;max-width: 85ch; }
.color__border-divider-1 .window--wide.items-end h1.color__light { color: var(--color__text-dark) !important; margin-bottom: 10px !important; }
.color__border-divider-1 .window--wide.items-end .space-y-4.color__light p { color: var(--color__text-dark) !important; }

/*================ Media Query ================*/

@media screen and (max-width:1699px){
  .page-about-page .color__border-divider-1 .section-full .whitespace-normal { padding-left: 60px !important; }
  div[id*=_content_slider_GDqa4j] .w-full.group .hidescrollbar { padding-left: 110px !important; }
  .page-about-page .color__border-divider-1 .window--wide.items-end .max-w-prose { padding-left: 80px; max-width: 77ch; }
}
@media screen and (max-width:1599px){
  .page-about-page .color__border-divider-1 .window--wide.items-end .max-w-prose { padding-left: 30px; }
}
@media screen and (max-width:1536px){
  .page-about-page .color__border-divider-1 .section-full .whitespace-normal { padding-left: 20px !important; }
  .color__border-divider-1 .section-full .color__outline-divider-1.items-start.text-left { min-height: 500px !important; }
  div[id*=_content_slider_GDqa4j] .w-full.group .hidescrollbar { padding-left: 20px !important; gap: 20px !important; }
  .page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3+.space-y-2 { width: 83%; }
  .color__border-divider-1 .window--wide.items-end .max-w-prose { padding-left: 0px !important; }
}
@media screen and (max-width:1440px){
  .max-w-prose {max-width: 65ch;}
  .section-modify-banner .max-w-prose {max-width: 47ch;}
  .section-footer .gap-12{gap:1rem;}
  .section-footer .max-w-\[250px\] {max-width: 230px;}
  .footer-map {max-width: 380px;}
  .footer-contact {max-width: 300px;}
  .section-slideshow .max-w-prose {max-width: 65ch;margin-block-start: 0;}
  .password .window--wide { margin-bottom: 50px; }     
  .color__border-divider-1 .section-full .color__outline-divider-1.items-start.text-left { min-height: 470px !important; }
}
@media screen and (max-width:1399px){
  .color__border-divider-1 .section-full h3.type__heading.type__heading-3+.space-y-2 { width: 100%; }
  .color__border-divider-1 .section-full .color__tertiary .space-y-2 p br { display: none; }
}
@media screen and (max-width:1199px){
  .section-modify-banner .max-w-prose {max-width: 40ch;}
  .section-modify-banner .py-14 {padding-top: 1rem;padding-bottom: 1rem;}
  .playButton {width: 60px;height: 60px;}
  .playButton svg{width:18px;}
  .section-slideshow .max-w-prose {max-width: 44.3ch;}
  .footer-map {max-width: 100%;}
  #shopify-section-template--23303949713698__image_text_tzm9bx .window--wide .flex.flex-row.items-start { padding: 0px !important; }
  .color__border-divider-1 .section-full .color__outline-divider-1.items-start.text-left { min-height: 400px !important; }
  .color__border-divider-1 .section-full .items-start.text-left .items-start { padding: 30px !important; }
  div[id*="_marquee_NUBniy"] .color__border-divider-1 .whitespace-nowrap .type__heading-1, div[id*="_marquee_dHgxkD"] .color__border-divider-1 .whitespace-nowrap .type__heading-1 { padding-right: 65px !important; }
  div[id*="_marquee_NUBniy"] .color__border-divider-1 .whitespace-nowrap .type__heading-1:before, div[id*="_marquee_dHgxkD"] .color__border-divider-1 .whitespace-nowrap .type__heading-1:before { content: ""; height: 15px; width: 15px; }
  div[id*="_content_slider_GDqa4j"] .w-full.group .hidescrollbar + .items-center.mix-blend-difference,div[id*="_content_slider_KrYA8y"] .w-full.group .hidescrollbar + .items-center.mix-blend-difference { padding-top: 20px; }
  .w-full.h-full.md\:flex-row .group\/banner.overflow-clip { min-width: 55% !important; }
  .w-full.h-full.md\:flex-row .group\/banner.overflow-clip.color__bg-overlay-2 { min-width: 45% !important; }
}

@media screen and (max-width:1199px) and (min-width:1000px){
  :root{
    --type__font-base: 16px;
    --type__font-heading-1: 40px;
    --type__font-heading-3: 24px;
    --type__font-bigger: 18px;
  }
  .section-footer .max-w-\[250px\] {max-width: 190px;}
  .footer-map {max-width: 300px;}
  .footer-contact {max-width: 280px;}
}

@media screen and (max-width:999px){
  :root{
    --type__font-base: 14px;
    --type__font-heading-1: 36px;
    --type__font-heading-3: 22px;
    --type__font-bigger: 18px;
  }
 /* .color__border-divider-1 .section-full .items-start.text-left { min-height: auto !important; }*/
  .page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3+.space-y-2 { width: 90%; }
}

@media screen and (max-width:767px){

    .custom-content-listing h5 {
      margin: 25px 0 10px;
      font-size: 19px;
  }
    
	div[id*=_theme_fixed-menu] nav.fixed {
		margin-top: 22px;
	}
	
	
  :root{
    --type__font-base: 14px;
    --type__font-heading-1: 30px;
    --type__font-heading-3: 20px;
    --type__font-bigger: 16px;
  }
  .section-footer .max-w-\[250px\], .footer-map, .footer-contact{max-width: 100%;}
  #shopify-section-template--23303949713698__image_text_tzm9bx .window--wide { padding-top: 100px !important; padding-bottom: 100px !important; }
  #shopify-section-template--23303949713698__image_text_tzm9bx .window--wide .items-start.text-left { min-height: auto !important; }
  #shopify-section-template--23303949713698__our_partners_Wqfq9i .window--wide { padding-top: 70px !important; padding-bottom: 70px !important; }
  .color__border-divider-1 .section-full .items-start.text-left { min-height: 400px !important; }
  .section-slideshow .whitespace-nowrap.hidescrollbar .window--wide .max-w-prose .space-y-4 { width: 100%; }
  .color__border-divider-1 .section-full .items-start.text-left .items-start { padding: 20px !important; }
  div[id*="_marquee_NUBniy"] .overflow-hidden { padding-top: 20px !important; padding-bottom: 25px !important; }
  .group .hidescrollbar .whitespace-normal { padding: 20px 20px !important; }
  .page-community .hidescrollbar .whitespace-normal h3.type__heading.type__heading-3+.space-y-2 { width: 100%; }
}

@media screen and (max-width:599px){
  .section-newsletter .input-wrap{flex-direction: column;align-items: flex-start;}
  .section-newsletter .input-wrap .btn {padding-top: 14px;padding-bottom: 16px;}
}
button.button{
    background: black;
    padding: 20px;
    color: white;
    width: 120px;
    border-radius: 10px;
}
.backButton {
    max-width: 1180px;
}